<!doctype html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Головна сторінка</title>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Головна сторінка</li>
            </ol>
        </nav> 
        <center>
            <h1>Оберіть таблицю</h1>
            <a class="btn btn-outline-primary" href="/tables/faculties" role="button">Факультети</a>
            <a class="btn btn-outline-primary" href="/tables/chairs" role="button">Кафедри</a>
            <a class="btn btn-outline-primary" href="/tables/groups" role="button">Групи</a>
            <a class="btn btn-outline-primary" href="/tables/students" role="button">Студенти</a>
            <div style="line-height:40%;">
                <br>
            </div>
            <a class="btn btn-outline-primary" href="/tables/subjects" role="button">Дисципліни</a>
            <a class="btn btn-outline-primary" href="/tables/teachers" role="button">Викладачі</a>
            <a class="btn btn-outline-primary" href="/tables/schedule" role="button">Розклад</a>
            <a class="btn btn-outline-primary" href="/tables/session" role="button">Сесія</a>
            <div style="line-height:100%;">
                <br>
            </div>
            <h1>Оберіть запит</h1>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% for query in queries %}
                            <div class="card">
                                <div class="card-body">
                                    <a href="queries/{{ query }}" class="card-link">
                                        {{ queries[query].description }}
                                    </a>
                                </div>
                            </div>
                            <div style="line-height:50%;">
                                <br>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </center>
    </body>
</html>