<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% if return_res %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
            <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
            <style>
                div.dataTables_length {
                    padding-left: 3%;
                }
                div.dataTables_filter {
                    padding-right: 3%;
                }
                div.dataTables_paginate {
                    padding-right: 75%;
                }
                .dataTables_paginate{
                    display: flex;
                    align-items: center;
                    padding-bottom: 1%;
                }
             </style>
        {% endif %}
        {% if task[-2] == '_' %}
            {% set task_num = task[-1]%}
        {% else %}
            {% set task_num = task[-2:] %}
        {% endif %}
        <title>Запит {{ task_num }}</title>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Головна сторінка</a></li>
                <li class="breadcrumb-item active" aria-current="page">Запит {{ task_num }}</li>
            </ol>
        </nav> 
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body text-left">
                            {{ descr }}
                        </div>
                    </div>
                    <form action="/queries/{{ task }}" method="post">
                        {% for field in fields %}
                            <div class="mb-3">
                                <label for="{{ field.real_name }}" class="form-label">{{ field.display_name }}</label>
                                {% if return_res and form_data[loop.index0] not in [-1, '0000-00-00'] %}
                                    {% if field.field_type == 'list' %}
                                        <select class="form-control" id="{{ field.real_name }}" name="{{ field.real_name }}">
                                            <option value="">Оберіть значення</option>
                                            {% set outer_loop = loop %}
                                            {% for val in field.unique_values %}
                                                {% if val.real_name == form_data[outer_loop.index0] %}
                                                    <option value="{{ val.real_name }}" selected>{{ val.display_name }}</option>
                                                {% else %}
                                                    <option value="{{ val.real_name }}">{{ val.display_name }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    {% elif field.field_type == 'date' %}
                                        <input type="date" id="{{ field.real_name }}" class="form-control" name="{{ field.real_name }}" value="{{ form_data[loop.index0] }}">
                                    {% else %}
                                        <input type="text" name="{{ field.real_name }}" class="form-control" value="{{ form_data[loop.index0] }}">
                                    {% endif %}
                                {% else %}
                                    {% if field.field_type == 'list' %}
                                        <select class="form-control" id="{{ field.real_name }}" name="{{ field.real_name }}">
                                            <option value="">Оберіть значення</option>
                                            {% for val in field.unique_values %}
                                                <option value="{{ val.real_name }}">{{ val.display_name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif field.field_type == 'date' %}
                                        <input type="date" id="{{ field.real_name }}" class="form-control" name="{{ field.real_name }}">
                                    {% else %}
                                        <input type="text" name="{{ field.real_name }}" class="form-control">
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="row justify-content-center">
                            <input type="submit" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="line-height:100%;">
            <br>
        </div>

        {% if return_res %}
        {% if table|length > 0 %}
            {% if (table|length)%10 == 1%}
                    {% set ending = '' %}
                {% elif (table|length)%10 in [1, 2, 3] and table|length not in [11, 12, 13, 14] %}
                    {% set ending = 'и' %}
                {% else %}
                    {% set ending = 'ів' %}
                {% endif %}
        <div class="container col-4"></div>
            <div class="alert alert-success container col-4" role="alert">
                Успішно отримано <b>{{ table|length }} запис{{ ending }}</b>.
            </div>
        {% else %}
            <div class="alert alert-warning container col-4" role="alert">
                Отримано <b>0 записів</b>. Перевірте свій запит.
            </div>
        </div>
        {% endif %}
        <table class="table table-striped" id="sortTable">
        {% if columns|length > 0 %}
            <thead class="thead-light">
                <tr>
                {% for c in columns %}
                    <th scope="col">{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                    {%for element in row %}
						<td>
                            {{ element }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <script>
            $(document).ready(function() {
            $('#sortTable').DataTable( {
                "pageLength": 100,
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Ukrainian.json'
                },
                "info": false
            } );
        } );
        </script>
        {% endif %}
    </body>
</html>