
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
				<th scope="col">subject_id</th>
				<th scope="col">subject_name</th>
				<th scope="col">subject_year</th>
				<th scope="col">subject_semester</th>
				<th scope="col">subject_lec_hours</th>
				<th scope="col">subject_prac_hours</th>
				<th scope="col">subject_lab_hours</th>
				<th scope="col">subject_course_work_hours</th>
				<th scope="col">subject_control</th>

        </tr>
            </thead>
            <tbody>
                {%for row in results%}
                    <tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
						<td>{{row[4]}}</td>
						<td>{{row[5]}}</td>
						<td>{{row[6]}}</td>
						<td>{{row[7]}}</td>
						<td>{{row[8]}}</td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>
</html> 