
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ table_name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
        <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
        <style>
            div.dataTables_length {
                padding-left: 3%;
            }
            div.dataTables_filter {
                padding-right: 3%;
            }
            .dataTables_paginate{
                display: flex;
                align-items: center;
                padding-bottom: 1%;
            }
         </style>
    </head>
    <body>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Головна сторінка</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ table_name }}</li>
            </ol>
        </nav> 
        <div class="alert alert-success" role="alert">
            {% if (table|length)%10 == 1%}
                {% set ending = '' %}
            {% elif (table|length)%10 == 2 or (table|length)%10 == 3 or (table|length)%10 == 4 %}
                {% set ending = 'и' %}
            {% else %}
                {% set ending = 'ів' %}
            {% endif %}
            Успішно отримано <b>{{ table|length }} запис{{ ending }}</b> з таблиці <b>{{ table_name }}</b>.
        </div>
        <table class="table table-striped" id="sortTable">
        {% if columns|length > 0 %}
            <thead class="thead-light">
                <tr>
                {% for c in columns %}
                    <th scope="col">{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                    {%for element in row %}
						<td>
                            {{ element }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <script>
            $(document).ready(function() {
            $('#sortTable').DataTable( {
                "pageLength": 100,
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Ukrainian.json'
                },
                "info": false
            } );
        } );
        </script>
    </body>
</html> 