
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <table class="table table-striped">
        {% if columns|length > 0 %}
            <thead class="thead-light">
                <tr>
                {% for c in columns %}
                    <th scope="col">{{ c }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr>
                    {%for element in row %}
						<td>
                            {{ element }}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </body>
</html> 