
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
				<th scope="col">teacher_id</th>
				<th scope="col">chair_id</th>
				<th scope="col">name</th>
				<th scope="col">title</th>
				<th scope="col">phd_date</th>
				<th scope="col">phd_topic</th>
				<th scope="col">prof_date</th>
				<th scope="col">prof_topic</th>
				<th scope="col">is_studying</th>
				<th scope="col">sex</th>
				<th scope="col">child_count</th>
				<th scope="col">salary</th>

        </tr>
            </thead>
            <tbody>
                {%for row in results%}
                    <tr>
						<td>{{row[0]}}</td>
						<td>{{row[1]}}</td>
						<td>{{row[2]}}</td>
						<td>{{row[3]}}</td>
						<td>{{row[4]}}</td>
						<td>{{row[5]}}</td>
						<td>{{row[6]}}</td>
						<td>{{row[7]}}</td>
						<td>{{row[8]}}</td>
						<td>{{row[9]}}</td>
						<td>{{row[10]}}</td>
						<td>{{row[11]}}</td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
    </body>
</html> 